@model IEnumerable<NhanSu.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success w3-animate-zoom">Create New</a>
</p>
<table class="table table table-hover shadow-lg p-3 mb-5 bg-body-tertiary rounded w3-animate-zoom">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <a style="text-decoration: none; color: rgb(0, 179, 255);" asp-action="Edit" asp-route-id="@item.DepartmentID">Edit</a> |
                <a style="text-decoration: none; color: black;" asp-action="Details" asp-route-id="@item.DepartmentID">Details</a> |
                <a style="text-decoration: none; color: red;" asp-action="Delete" asp-route-id="@item.DepartmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
